<% provide(:title, "Editar perfil") %>

<script>
  $(document).ready(function(){
    updateWordsCounter("#about_user", 300, "#wordsCounter");

    $("#about_user").keyup(function(){
      updateWordsCounter("#about_user", 300, "#wordsCounter");
      return false;
    });    
  });
</script>

<div class="mainContainer container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <strong>Editar informaci&oacute;n de perfil</strong>
        </div>
        <div class="panel-body">
        <%= form_for(@user, :html => { :class => "form form-horizontal"}) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="form-group">
            <%= f.label :name, "Nombre: ", class: 'col-sm-4 control-label' %>
            <div class="col-sm-7">
              <%= f.text_field :name, class:"form-control", disabled: "disabled" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :email, "Correo: ", class: 'col-sm-4 control-label' %>
            <div class="col-sm-7">
              <%= f.email_field :email, class:"form-control", placeholder:"Mi correo electrónico es ..." %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :speciality, "Especialidad: ", class: 'col-sm-4 control-label' %>
            <div class="col-sm-7">
              <%= f.text_field :speciality, class:"form-control", placeholder:"Estudié la carrera de ..." %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :job, "Ocupación: ", class: 'col-sm-4 control-label' %>
            <div class="col-sm-7">
              <%= f.text_field :job, class:"form-control", placeholder:"Me dedico a ..." %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :workplace, "Lugar de trabajo o estudio: ", class: 'col-sm-4 control-label' %>
            <div class="col-sm-7">
              <%= f.text_field :workplace, class:"form-control", placeholder:"Trabajo / estudio en ..." %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :about, "Acerca de mí: ", class: 'col-sm-4 control-label' %>
            <div class="col-sm-7">
              <%= f.text_area :about, cols: 20, rows: 8, maxlength: 300, class: 'form-control', id: 'about_user', placeholder:"Acerca de mí" %>
              <span id="wordsCounter" class="label label-info"></span>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="form-group centered">
            <%= f.submit "Guardar cambios", class: "btn btn-large btn-primary" %>
            <%= link_to "Cancelar", @user, class:"btn btn-default" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <strong>Editar credenciales de inicio de sesi&oacute;n</span></strong>
        </div>
        <div class="panel-body">
        <%= form_for(@user, :html => { :class => "form form-horizontal"}) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="form-group">
            <%= f.label :username, "Nombre de usuario: ", class: 'col-sm-4 control-label' %>
            <div class="col-sm-7">
              <%= f.text_field :username, class:"form-control", disabled: "disabled" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password, "Contraseña: ", class: 'col-sm-4 control-label' %>
            <div class="col-sm-7">
              <%= f.password_field :password, class:"form-control", placeholder: "Nueva contraseña" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "Confirmar contraseña: ", class: 'col-sm-4 control-label' %>
            <div class="col-sm-7">
              <%= f.password_field :password_confirmation, class:"form-control", placeholder: "Vuelve a escribir tu contraseña" %>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="form-group centered">
            <%= f.submit "Guardar cambios", class: "btn btn-large btn-primary" %>
            <%= link_to "Cancelar", @user, class:"btn btn-default" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>

</div>
