<% provide(:title, "Nuevo proyecto") %>

<script>
  $(document).ready(function(){
    updateWordsCounter("#project_description", 300, "#wordsCounter");

    $("#project_description").keyup(function(){
      updateWordsCounter("#project_description", 300, "#wordsCounter");
      return false;
    });    
  });
</script>

<div class="mainContainer container">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong>Crear nuevo proyecto</strong>
      </div>
      <div class="panel-body">
      <%= form_for(@project, :html => { :class => "form form-horizontal"}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group">
          <%= f.label :name, "Nombre: ", class: 'col-sm-4 control-label' %>
          <div class="col-sm-7">
            <%= f.text_field :name, class:"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :description, "Descripción: ", class: 'col-sm-4 control-label' %>
          <div class="col-sm-7">
            <%= f.text_area :description, cols: 20, rows: 8, maxlength: 300, class: 'form-control', id: 'project_description' %>
            <span id="wordsCounter" class="label label-info"></span>
          </div>
        </div>

      </div>
      <div class="panel-footer">
        <div class="form-group centered">
          <%= f.submit 'Crear proyecto', class: 'btn btn-large btn-primary' %>
        </div>
      </div>

      <% end %>
    </div>
  </div>
</div>
