<% provide(:title, @project.name) %>

<div class="mainContainer container">
  
  <%= render 'projects/status' %>

  <div class="row">
    <div class="col-md-2" style="border-right: solid 1px #ecf0f1">
      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <%= link_to @project do %>
            <span class="glyphicon glyphicon-folder-open"></span>
            <strong>Archivos</strong>
          <% end %>
        </li>
        <li>
          <%= link_to parameters_project_path do %>
            <span class="glyphicon glyphicon-tasks"></span>
            <strong>Parametros</strong>
          <% end %>
        </li>
        <li>
          <%= link_to results_project_path do %>
            <span class="glyphicon glyphicon-ok"></span>
            <strong>Resultados</strong>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="col-md-10 tab-content active">

      <%= link_to upload_path(@project), class: 'btn btn-sm btn-default' do %>
        <span class="glyphicon glyphicon-cloud-upload"></span>
        Subir archivo
      <% end %>

      <hr/>

      <% if @project_files.any? %>
        <table class="table table-condensed table-hover">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripci&oacute;n</th>
            <th class="centered">Acciones</th>
          </tr>
        <% @project_files.each_with_index do |file, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= file.name %></td>
            <td><%= truncate(file.description, length: 50) %></td>
            <td class="centered">
              <%= link_to edit_project_file_path(file), class: 'btn btn-xs btn-default edit_file' do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
              <%= link_to file, method: :delete, data: { confirm: '¿Estas seguro de eliminar éste archivo?' }, class: 'btn btn-xs btn-danger delete_file' do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </table>
      <% end %>
    </div>
  </div>
  <hr/>
</div>
