<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/header' %>

    <script>
      toastr.options = {
        positionClass: 'toast-bottom-full-width',
        showDuration: '300',
        hideDuration: '1000',
        timeOut: '5000',
        extendedTimeOut: '1000',
        showMethod: 'slideDown',
        hideMethod: 'slideUp'
      }
      <% flash.each do |key, value| %>
      toastr.<%= key %>('<%= value %>');
      <% end %>
    </script>

    <%= yield %>
  
    <%= render 'layouts/footer' %>
    
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>